
/*-----------*/

.skill-tile, .skill-tile-first{
  padding-top:20px;
  padding-bottom:15px;

}

.col-lg-4.skill-tile  {
  padding-left:40px;
  padding-right:40px;
}

.skill-tile:after {
  content:""; 
  border-color:white;
  border-top: solid 5px;
  position: absolute; 
  top: 0; 
  right:42%; 
  width: 16%;
}

/*
.skill-tile-break{
  padding: 0;
  border-color:white;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

.skill-tile-break:after {
  background-color: #62aaff;
  color: white;

}*/

.chris-head {
  max-width: 150px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  padding-top:15px;
}

.chris-head-circle {
  height:200px;
  width:200px;
  border-radius:400px;
  background-color: rgb(240,240,250);
  border: 8px solid #2c3e50;
  margin:0 auto;
  margin-top:10px;
  box-shadow: 0px 0px 9px 4px rgba(0,0,0,.2);
}


.user-persona-images {
  max-width:80%;
}

 
.arsenal-link,   .arsenal-link:focus, .arsenal-link:active {
  color: white; 
  text-decoration: none;
}
.arsenal-link:hover  {
  text-decoration: none;
}


/*  flex-direction: column;
  justify-content: center;  
  align-items:  center;*/

/*--- view on computer --- */
@media (min-width: 415px) {
  .chris-head-circle {
    height:340px;
    width:340px;
    border-radius:400px;
    background-color: rgb(240,240,250);
    border: 8px solid #2c3e50;
    margin:0 auto;
  }
    .chris-head {
    max-width: 250px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    padding-top:25px;
  }
  .chris-head-circle:hover {
    transition:all .2s ease;   
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,.4);
  }

  .skill-tile:after {
    content:none;
  } 
}

.hidden {
  visibility: hidden
}

.skill-description {
    padding-top: 70px;
}

.align-center {
  margin: 0 auto;
}

.summary {
 max-width:720px;
 margin:0 auto;
 text-transform:none;
}

.white-text-hover:hover {
  transition: all 1s ease;
  color:#40445e;
}

.white-text-hover-light:hover {
  transition: all 1s ease;
  color:#62aaff;
}
/*
 .ervo {
   background-color: black;
   color: rgb(245,245,245);
   font-size:4em;
   height:520px;
   width:720px  ;
   text-align:center;
 }*/

 .item-details{
  font-size: 18px;
 }

.blur {
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}

 /*star color for about section*/
hr.star-third:after {    
  background-color: #40445e;
  color: white;
}

/*Tiles -- overwritten from freelancer.css */

@media (min-width: 767px) {
  #portfolio .portfolio-item,
  #projects .portfolio-item {
    margin-bottom:  30px;
  }
}
#portfolio .portfolio-item,
#projects .portfolio-item {
  margin-bottom:15px;
  
}

  /*----------------------*/
   /*-----  new skills section ---- */

section.skills {
  background: #40445e;
  color: white;
}

hr.star-third:after {    
  background-color: #40445e;
  color: white;
}



/*-----Modals  ------*/
.modal-body  >p{
  text-align:justify;
}

.twohundred {
  border: 1px solid red;
}

.mvp {
  height:280px;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,.5);
  margin:0 auto;
}

#rules-list {
  text-align:left;
  margin:0 60px 30px 60px;
}

.design-step { 
  font-weight: bold; 
  text-transform: uppercase;
   
 }

.portfolio-modal .modal-content img.enhatch{
  margin-bottom: 0;
}




/*--- Pie Chart --- */
 
 {
  margin: 0;
  padding: 0;
}
body {
  /*background: #ddd;*/
  /*font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;*/
}


.chart {
  /*position: absolute;*/
  width: 280px;
  height: 280;
  max-width:100%;
/*  top: 50%;
  left: 50%;
  margin: 0 auto;*/
}
 

/*--- view on computer --- */
@media (min-width: 400px) {
  .chart {
    width:400px;
    height:400px;
  }
}


.pieTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255,255,255,.97);
  color: #444;
  font-size: 19px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
     -moz-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
}
/*.pieTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(255,255,255,.95);
      line-height: 0;
}*/
.chart path { cursor: pointer; }