html ,body {
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(245,244,247);
	font-size: 100%;
}

body{
	width:100%;
}



img {
	width:40px;
	height:40px;
	transition: all .4s ease-out;
	transition-delay: .2s;
}


.container-fluid {
	width: 90%;
	max-width:600px;
	margin: 0 auto;
	padding: 5px 5px 5px 5px;

}

.event-box {
	margin-left:7px;
	box-shadow: 2px 2px  2px 2px rgba(150,150,150,.4);
}


.event-box:hover .event-details {
	transition: max-height .6s ease-in;
	transition-delay: .1s;
	max-height:150px;
	/*visibility: visible;*/
}

.event-box:hover  img{
	transition: all .4s ease;
	min-width:100px;
	min-height:100px;
}


.event-location{
	color: rgb(150,150,150);
}

.event-details {
	/*visibility: hidden;*/
	max-height:0;
	transition: max-height .4s ease-out;

}

.button-container {
	margin: 5%;
	margin-left: -16px;
}




/*custom above this line */

 

.event {
margin-bottom: 25px;
margin-left: 40px;
position: relative;
}
.event .event-box {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.event .event-box:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0px;
/*background-color: red;*/
}
.event .event-box:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 10px;

/*background-color: blue;*/
}
.event:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;

/*background-color: orange;*/
}
.event:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
/*background-color: yellow;*/
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
background-color: green;
}

.event  .avatar {
margin-right: 20px;
}
.event  .event-text {
overflow: hidden;
}
.event  .event-text h5 {
font-size: 2rem;

font-weight: bold;
margin: 0;
}